/* 강사님이 만드신 부분 시작 */
// .playlist-title {
//   font-size: 24px;
//   margin-bottom: -50px;
// }

.netflix-card {
  color: white;
  border-radius: 8px;
  overflow: hidden;
  font-size: 13px;
}

.netflix-card__img-box img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.slick-slide:hover .netflix-card__img-box img {
  border-radius: 0;
}

.thumbnail-content2  {
  background-color: #181818;
  padding: 16px;
  padding-bottom: 32px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.slick-slide:hover .thumbnail-content2 {
  opacity: 1;
  visibility: visible;
}

.thumbnail-content__icon2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.thumbnail-content__icon2 > div {
  display: flex;
  gap: 8px;
}

.netflix-card .icon {
  border: 2px solid #8d8d8d;
  background-color: #232323;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon.play-icon {
  border-color: white;
  background-color: white;
  color: #000;
}

.content-info {
  margin-bottom: 12px;
}

.content-info > span:first-child {
  color: #45cf87;
  font-weight: bold;
}

.content-info > span:nth-child(2) {
  border: 1px solid #8d8d8d;
  font-weight: bold;
  padding: 0 8px;
}

.content-info > span:nth-child(3) {
  font-weight: bold;
}

.content-tag > span:not(:last-child)::after {
  content: "•";
  margin-left: 4px;
  color: #646464;
}

.slick-slide {
  margin: 0 2px;
  transition: 0.3s;
}

.slick-slide:hover {
  transform: scale(1.2) translate(0, -30px);
}

.slide-box {
  /*   border:3px solid red; */
}

.slide-list .slick-list {
  max-height: 250px;
  /*   overflow:visible; */
  padding: 70px 40px;
}

.list-group:not(.list-group-1) {
  margin-top: -120px;
}

.list-group {
  position: relative;
}

.list-group:hover {
  z-index: 99;
}
/* 강사님이 만드신 부분 끝 */

/* 맨 위 틀 시작 */


/* 맨 위 틀 끝 */


/* 플레이 / 찜 / 좋아요 버튼 시작 */
.thumbnail-content2 > .thumbnail-content__icon2 > .icon-left2 > .playBtn {
  border: 2px solid #fff;
  background: white;
  color: #343434;
  padding: 2px;
  font-size: 23px;
  cursor: pointer;
}


.thumbnail-content2 > .thumbnail-content__icon2 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.thumbnail-content2
  > .thumbnail-content__icon2
  > .icon-left2
  > .hover_box_none {
  display: none;
}

.thumbnail-content2 .hover_box_run > * {
  // margin-right: 2px;
  padding: 7px;
}

.thumbnail-content2 > .thumbnail-content__icon2 > .icon-left2 > .hover_box_run {
  display: flex;
  align-items: center;
  position: absolute;
  top: -16%;
  left: 30%;
  background: #141414;
  border-radius: 25px;
  padding: 3px 10px 3px 7px;
}

.thumbnail-content2 .hover_box_run > *:hover {
  border-radius: 50%;
  background: #808080;
}

.thumbnail-content2 .hover_box_run .good_overlapping {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  // margin-right:? 2px;
  padding: 7px 9px 7px 5px;
}

.thumbnail-content__icon2
  > .icon-left2
  > .hover_box_run
  .good_overlapping
  > svg:last-child {
  position: absolute;
  right: 14%;
  top: 27%;
}
/* 플레이 / 찜 / 따봉 버튼 끝 */

